.profileCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 30px 54px;
  border-radius: 30px;
  border: 1px solid #bfbebe;
  background-color: #fff;
  position: relative;
}

.avatarWrapper {
  position: relative;
  margin-bottom: 8px;
}

.avatarEdit {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;

  max-width: 28px;
  height: 28px;
}

.fileInput {
  display: none;
}

.profileData {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.profileData div {
  text-overflow: ellipsis;
  overflow: hidden;
}

.profileData > div > label {
  color: var(--gray-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.28px;
  margin-right: 8px;
}

@media (min-width: 440px) {
  .profileCard {
    padding: 40px 80px;
    gap: 20px;
  }

  .profileData {
    width: 100%;
  }

  .avatarEdit {
    max-width: 38px;
    height: 38px;
  }
}
