.container {
  width: 100%;
}

.title {
  margin-bottom: 16px;

  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}

.text {
  margin-bottom: 32px;

  letter-spacing: -0.28px;
  color: var(--gray-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.button {
  justify-content: center;
  width: 100%;
}

.buttonMB {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
}
