.TextareaContainer {
    width: 100%;
    border-bottom: 1px solid var(--gray-color);
    display: flex;
    gap: 38px;
    padding-bottom: 16px;
    transition: border-bottom var(--transition-duration) var(--transition-timing-function);
}

.TextareaContainer:has(.Textarea:focus) {
    border-bottom: 1px solid var(--main-color);
}

.TextareaContainer:has(.Textarea:disabled) {
    border-bottom: 1px solid var(--gray-light-color);
}

.TextareaContainer:has(.Textarea:disabled) .TextareaCounter,
.TextareaContainer:has(.Textarea:disabled) .TextareaTotal {
    color: var(--gray-light-color);
}

.Textarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    background: transparent;
}

.Textarea::placeholder {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.Textarea:disabled {
    color: var(--gray-color);
}

.TextareaCounter,
.TextareaTotal {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.TextareaCounter {
    color: var(--main-color);
}

.TextareaCounter.overLimit {
    color: var(--red-color);
}

.TextareaTotal {
    color: var(--gray-color);
}
