.card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    background-color: var(--white-color);
    flex-wrap: nowrap;
    padding: 32px 0;
}
.card:first-child {
    padding-top: 0;
}
.card:not(:last-child) {
  border-bottom: 1px solid var(--gray-light-color);
}

.userInfo {
    display: flex;
    gap: 16px;
}

/* Avatar image */
.avatarWrapper {
    width: 60px;
    height: 60px;
    text-align: center; /* to center the alt text */
    border-radius: var(--border-radius-full);
    background-color: var(--gray-light-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.avatar {
    object-fit: cover;
    display: block;
    /*width: 100%;*/
}

/* Group containing name, count, and follow button */
.userDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

/* Recipe thumbnails (tablet and desktop only) */
.recipeList {
    display: none;
}

/* Thumbnail images */
.recipeThumbWrapper {
    width: 100px;
    height: 100px;
    background-color: var(--gray-light-color);
    border-radius: var(--border-radius-s);
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeThumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Arrow icon button wrapper */
.arrowButton {
    align-self: flex-start;
}

.followButton {
    padding: 10px 24px !important;
    border-color: var(--gray-color) !important; /* the color has to be forced */
    color: var(--gray-color) !important; /* the color has to be forced */
}

/* Tablet (768px+) layout */
@media (min-width: 768px) {
    .card {
        align-items: center;
        padding: 40px 0;
    }

    .recipeList {
        display: flex;
        gap: 12px;
        flex-wrap: nowrap;
    }

    .avatarWrapper {
        width: 80px;
        height: 80px;
    }
}
