.wrap {
  position: absolute;
  right: 16px;
  top: 19px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
}

.profile {
  display: flex;
  align-items: center;
  line-height: 0;
  background-color: var(--button-color);
  border-radius: 30px;
  cursor: pointer;
}

.profileImg {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  margin-right: 6px;
}

.profileName {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  margin-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90px;
}

.btn_arrow {
  display: block;
  box-shadow: none;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  padding: 0;
  background: transparent;
  border: none;
}

.icon_arrow {
  width: 18px;
  height: 18px;
  stroke: var(--white-color);
  transition: transform 0.3s ease;
}

.btn_arrow_open .icon_arrow {
  transform: rotate(180deg);
}

.btn_menu {
  box-shadow: none;
  width: 28px;
  height: 28px;
  margin-left: 4px;
  padding: 0;
  background: transparent;
  border: none;
}

.icon_menu {
  width: 28px;
  height: 28px;
  stroke: var(--white-color);
}

.btn_menu:hover .icon_menu {
  stroke: var(--accent-color);
}

.wrap_profile_modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 122px;
  top: 40px;
  padding: 16px 0 16px 16px;
  row-gap: 4px;
  border-radius: 15px;
  border: 1px solid var(--gray-color);
  background-color: var(--main-color);
  box-sizing: border-box;
  z-index: 100;
}

.link {
  margin-right: 16px;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  padding: 0;
  background: none;
  border: none;
  text-align: left;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.link_logout {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
}

.icon_logout {
  width: 18px;
  height: 18px;
  margin-left: 2px;
  stroke: var(--white-color);
}



@media screen and (min-width: 768px) {
  .wrap {
    right: 32px;
    top: 20px;
  }

  .profileImg {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 6px;
  }

  .btn_arrow {
    margin-right: 14px;
  }

  .btn_menu {
    display: none;
  }

  .wrap_profile_modal {
    width: 148px;
    top: 60px;
  }

  .profileName {
    max-width: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .wrap {
    right: 60px;
  }
}