.DualButtonGroup {
    width: fit-content;
    border-radius: var(--border-radius-m);
    background: var(--white-color);
}

.DualButton {
    flex: 1;
    padding: 10px 16px;
    background: transparent;
    border: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
    transition: opacity 0.2s;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.DualButton.left {
    background: var(--white-color);
    color: var(--main-color);
    border-radius: var(--border-radius-m) 0 0 var(--border-radius-m);
}

@media (min-width: 481px) {
    .DualButton.left {
        padding: 14px 30px;
    }
}

.DualButton.left:hover {
    opacity: 0.5;
}

.DualButton.right {
    border-radius: var(--border-radius-m);
    background: var(--main-color);
    color: var(--white-color);
    border: 1px solid var(--gray-color);
}

@media (min-width: 481px) {
    .DualButton.right {
        padding: 14px 28px;
    }
}

.DualButton.right:hover {
    opacity: 0.7;
}
