.container {
  margin-top: 126px;
}

@media (min-width: 768px) {
  .container {
    margin-top: 150px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-top: 170px;
    margin-bottom: 120px;
  }
}

.title {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .title {
    margin-top: 40px;
  }
}

.description {
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 32px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.profile {
  width: 100%;
}

.profile button {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

.profileTabs {
  width: 100%;
  min-height: 400px;
}

@media (min-width: 440px) {
  .description {
    max-width: 443px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .profileContainer {
    gap: 80px;
  }
  .profile {
    max-width: 396px;
  }
}

@media (min-width: 768px) {
  .userPage {
    padding: 4rem 2rem;
  }
}

@media (min-width: 1148px) {
  .profileContainer {
    flex-direction: row;
    gap: 40px;
    align-items: initial;
  }
}
