.wrapper {
  text-align: center;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding-bottom: 40px;
  }
}
