.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 1440px) {
  .list {
    gap: 40px;
  }
}

.activeBtn {
  border-color: var(--gray-color) !important;
}
