.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    height: 46px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 .navigation ul.wrap_navigation {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .wrap_navigation {
    column-gap: 40px;
  }
}

.navigationButton {
  padding: 14px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 30px;
  text-transform: uppercase;
  border: 1px solid var(--button-color);
  background-color: inherit;
}

.navigationButton_inactive {
  border: none;
}

.navigationButton_inactive:hover {
  color: var(--main-color);
  background-color: var(--white-color);
}

.header.navigationButton {
  color: var(--white-color);
}

.headerAll .navigationButton {
  color: var(--main-color);
}

.headerAll .navigationButton_inactive:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}
